{% extends 'layout.html' %}

{% block title %}{{title}}{% endblock %}

{% block head %}
  {% parent %}
  <link rel="stylesheet" href="./stylesheets/custom.css">
{% endblock %}

{% block content %}
<p>What's your pleasure?</p>
<form id="nutEntry" action="/triage" method="GET">
<label for="allNuts" >List Nuts</label><input type="radio" id="allNuts" name="list"><br/>
<label for="addNut" >Add Nut</label><input type="radio" id="addNut" name="add"><br/>
<input type="submit" value="Submit">
</form>
<p>To edit a nut select it on the list page...</p>
{% endblock %}