{% extends 'layout.html' %}

{% block title %}{{listTitle}}{% endblock %}

{% block head %}
<link rel="stylesheet" href="./stylesheets/custom.css">
<script src='//cdnjs.cloudflare.com/ajax/libs/jquery/2.0.3/jquery.min.js'></script>
<script src='/public/javascripts/main.js'></script>
{% endblock %}

{% block content %}
	<div class="pre">
		<form id="myForm" (ame="myForm"  action="/triage" method=GET" >
			<label for="List">List <input type="radio"  name="choice" value="List"><br>
			<label for="Add">Add <input type="radio", name="choice" value="Add"><br> 
			<input type="submit" value="Submit">
        </form>    
			
		<h2 id="results"></h2>			
{% endblock %}