{% extends 'layout.html' %}

{% block title %}{{listTitle}}{% endblock %}

{% block head %}
<link rel="stylesheet" href="./stylesheets/custom.css">
<link rel="stylesheet" href="./stylesheets/jquery.mCustomScrollbar.css">
{% parent %}
<script src="./javascripts/jquery.mCustomScrollbar.concat.min.js"></script>
<script>
    (function($){
        $(window).load(function(){
            $(".content").mCustomScrollbar({
                theme: "dark"
                });
        });
    })(jQuery);
</script>
  
{% endblock %}
 

{% block content %}
<h1 class="titleColor txt-cntr">{{listTitle}}</h1>

<h3 class="green txt-cntr"> Number of Nuts: {{nutCollection.length}} </h3>

{% if nutCollection %}

    <div class="content">

    <table class="nutTable">

        {% for keyVal, nut in nutCollection %}
        
            <tr><td class="icons"><span class="bold"><span class="green class="m-l-5"">{{loop.index}}.</span> {{nut.LName}} {{nut.Suffix}}       <a href="/edit?target={{nut._id.valueOf()}}" title="Edit"><img src="./images/edit.png"></a>   <a href="/delete?target={{nut._id.valueOf()}}" title="Delete"><img src="./images/trash.png"></a></td></tr>
            <tr><td><span class="purple m-l-5">{{nut.Names}}</span></td></tr>        
            {% for key, val in nut.Loc %}
                {% if nut.Loc[key].Addr.length %}
                    <tr><td></td></tr>            
                    <tr><td>{% if key == 0 %}<img class="m-l-5" src="./images/letter.png">{% endif %}<span class= "blue m-l-5">  {{val.Addr}}</span> </td></tr>
                    <tr><td>{% if key == 0 %}<img class="m-l-5" src="./images/phone.png">{% endif %}<span class= "blue m-l-5">   {{val.HomePh}}</span> </td></tr>
                {% endif %}
           {% endfor %}
            <tr><td></td></tr>
           {% if nut.Email1 %}        
            <tr><td><img class="m-l-5" src="./images/email.png"><span class="blue">  {{nut.Email1}}</span> </td></tr>
           {% endif %}
           {% if nut.Email2 %}
            <tr><td><span class="blue m-l-5"> &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;{{nut.Email2}}</span> </td></tr>
           {% endif %}
           {% if nut.CellPh %}
            <tr><td><img class="m-l-5" src="./images/cell.png"><span class="green">   {{nut.CellPh}}</span> </td></tr>
           {% endif %}
    <!--	<tr><td><span class="maroon">	{{nut.Bday}}</span> </td></tr> -->
           {% if nut.Notes %}
            <tr><td><img class="m-l-5" src="./images/notes.png" title="Notes">Notes: <span class="black">{{nut.Note}}</span> </td></tr>
           {% endif %}
            <tr><td>&nbsp;</td></tr><tr><td>&nbsp;</td></tr>
        {% endfor %}
        
    </table><br><br>

{% else %}
    <p>{% block results %}{{noResults}}{% endblock %}</p>   
{% endif %}
</div>     
{% endblock %}
{% block footer %}
 <div class="footer pre">
        <div class="nav">
            <a class="bold fl m-l-10" href="/home">Home</a><span>                         </span><form id="searchForm" action="/search" method="GET"><input class="fl" id="search" name="search" type="search" placeholder="Search" /><input class="fl" type="image" src="./images/searchtool.png" title="Lookup">
        </div>
</div>
{% endblock %}
